@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	/* Colour Palette */
	--primary: #0000a3;
	--secondary: #cdcdf2;
	--tertiary: lavender;
	--contrast: #fbca01;
	
	--text: #000000;
	--text_contrast: #ffffff;
	--white: #ffffff;
	--hover: #24bef1;
	
	/* House Colors */
	--rangituhi: #279f06;
	--whitireia: #caa300;
	--raukawa: #a30000;
	--parirua: #0000a3;
	
	/* Underlines */
	--black_underline: 2px solid var(--text) underline;
	--white_underline: 2px solid var(--text_contrast) underline;
}

html {
	/* Prevent special browsers from scrolling past the beginning/end of the pages */
	overscroll-behavior: none;
}

/* Text Styling */

h1, h2, h3, p, li {
	font-family: "Libre Franklin";
	text-decoration: none;
	font-weight: normal;
}

h1 {
	font-size: 2.2vw;
}

.current h1 {
	font-weight: bold;
}

.full-width-2 h1 {
	color: var(--text_contrast);
}

.activity-menu h1, .activity-menu h2 {
	text-align: center;
	color: var(--text_contrast);
}

h2 {
	font-size: 1.6vw;
}

h2 a {
	color: var(--contrast);
	text-decoration: var(--white_underline);
}

.dates div h2 {
	color: var(--text_contrast);
	font-weight: bold;
	text-align: center;
}

.persistent h2 {
	text-decoration: var(--black_underline);
	color: var(--text);
	line-height: 100%;
	transition-duration: 200ms;
}

.persistent a:hover h2 {
	color: var(--text_contrast);
	text-decoration: 2px solid underline var(--text_contrast);
}

.dropdown h2 {
	color: var(--text);
}

#important h2 {
	line-height: 40%;
}

.activity-menu h2 {
	line-height: 200%;
	font-weight: bold;
	font-size: 2.4vw;
	-webkit-text-stroke: 0.1vw var(--primary);
}

.timetables h2 {
	color: var(--text_contrast);
	font-weight: bold;
}

.text-area h2 {
	font-weight: bold;
}

h3 {
	font-size: 1.1vw;
}

.attribution .f-left h3 {
	color: var(--text);
}

.footer h3 {
	line-height: 0;
}

/* Text Styling Rules */

.white {
	color: var(--text_contrast);
}

.bold, #bold {
	font-weight: bold;
}

.full-width-2 a {
	text-decoration: 2px solid underline var(--text_contrast);
}

p a, li a {
	color: var(--text);
	text-decoration: 2px dotted underline var(--text);
}

.text-contrast, .header h1, .header h2, .footer h3 {
	color: var(--text_contrast);
	position: relative;
	z-index: 4;
}

.center {
	text-align: center;
	line-height: 0;
}

.regular {
	font-weight: 400 !important;
}

.underline {
	text-decoration: var(--black_underline);
	font-weight: 550;
}

.underegular {
	text-decoration: var(--white_underline);
	font-weight: 400;
}	

a {
	text-align: center;
	transition-duration: 0.2s;
	text-decoration: none;
}

p, li {
	font-size: 1.3vw;
}

.sequence u {
	text-decoration: var(--black_underline);
	font-weight: 550;
}

.alt {
	font-weight: 400 !important;
}

#credits {
	color: var(--text);
	text-decoration: var(--black_underline);
}

.list {
	line-height: 50%;
}

#high_contrast {
	text-decoration: 3px var(--contrast) solid underline;
}

.links a {
	border-radius: 8px;
	padding: 2%;
	text-decoration: var(--white_underline);
}

a:hover, .current {
	background-color: var(--hover);
}

.sequence div p {
	line-height: 30%;
}

.persistent .current * {
	color: var(--text_contrast);
	text-decoration: var(--white_underline);
	font-weight: bold;
}

/* White underlines for text against dark backgrounds */
.header .underline, .links .regular {
	text-decoration: var(--white_underline);
}

/* Image Subtitles */
.BL {
	position: absolute;
	bottom: -1.3vw;
	left: -1%;
	color: var(--text_contrast);
	background-color: var(--primary);
	line-height: 0;
	padding: 6%;
	border-radius: 0px 10px 0px 0px;
}

/* Page Elements */
.header {
	background-color: var(--primary);
	position: relative;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 45% auto 22%;
	padding-top: 2%;
	padding-bottom: 2%;
}

/* Sticky Navbar */
.persistent {
	background-color: var(--secondary);
	grid-column-start: 1;
	grid-column-end: span 3;
	grid-row-end: span 1;
	z-index: 7;

	grid-row-start: 2;
	display: flex;
    flex-direction: row;
	position: sticky;
    top: 0;
	
	transition-duration: 200ms;
}

.persistent div {
	width: 4vw;
	transition-duration: 200ms;
}

.persistent a {
	flex-basis: 25%;
	transition-duration: 200ms;
	padding: 0.75% 0% 0.75% 0%;
}

body {
	margin: 0;
}

.logo, .links {
	display: flex;
    flex-direction: row;
}

.logo {
	height: 100%;
	margin: 0;
    column-gap: 1%;
	grid-column-start: 1;
	grid-column-end: 2;
	justify-content: left;
}

.logo *, .links * {
	margin: auto 0;
}

.logo img {
	width: 6vw;
	margin-left: 2%;
	margin-right: 1%;
}

#shield {
	width: 1vw;
}

.links {
	column-gap: 10%;
	grid-column-start: 3;
	grid-column-end: span 1;
    justify-content: center;
}

#banner .links {
	width: 30%;
}

.activity-menu {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 48.5% 48.5%;
	background-color: var(--tertiary);
	padding: 3%;
	padding-bottom: 9%;
	grid-column-gap: 3%;
	grid-row-gap: 12%;
	z-index: 6;
	transition-duration: 200ms;
	position: relative;
}

/* Generic div element */
.full-width-2 {
	grid-column-start: 1;
	grid-column-end: span 2;
	background-color: var(--primary);
	padding: 1%;
	position: relative;
	text-align: center;
	border-radius: 16px;
}

/* Links to other pages with background images */
.mountainw, .adrenalin, .community, .campwainu {
	border: 4px solid var(--primary);
	border-radius: 16px;
	background-size: cover;
	background-position: center;
	text-decoration: none;
	transition-timing-function: ease-in-out;
}

.mountainw:hover, .adrenalin:hover, .community:hover, .campwainu:hover {
	transform: scale(1.05, 1.05);
	border: 6px solid var(--hover);
}

.floating a {
	background-color: var(--primary);
	border: 4px solid var(--primary);
	border-radius: 16px;
	text-decoration: var(--white_underline);
}

.floating a:hover {
	background-color: var(--hover);
}

/* Main container */
.content {
	display: flex;
	flex-direction: column;
	padding: 3%;
	row-gap: 3vw;
}

.floating {
	display: flex;
	flex-direction: row;
	gap: 3%;
}

.floating a {
	background-color: var(--primary);
	border: 0;
	flex-basis: 33%;
}

.floating a h2 {
	line-height: 200%;
}

.flex-horizontal {
	display: flex;
	flex-direction: row;
	column-gap: 3vw;
	padding: 0;
}

.text-area {
	flex-basis: 70%;
}

#bulk div {
	padding-bottom: 1%;
}

.timetables {
	display: flex;
	gap: 3%;
}

.gallery {
	display: flex;
	flex-direction: column;
	gap: 2%;
	flex-basis: 30%;
	justify-content: space-around;
	width: 30%;
}

.gallery img {
	height: 100%;
}

.gallery .full-width-2 {
	display: flex;
	overflow: hidden;
}

.image {
	position: relative;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	overflow: hidden;
	border-radius: 16px;
	border: 4px solid var(--primary);
	height: calc(0.8vw*1.9);
}

#width_auto {
	width: auto;
}

#flex-vertical .gallery {
	width: auto;
}

.gallery .full-width-2 {
	flex-flow: column;
	line-height: 0;
	gap: 0;
	padding: 4%;
}

.colours {
	background-color: var(--secondary);
	text-align: center;
	flex-grow: 1;
	border-radius: 16px;	
}

/* House Colours for Timetables & Dates*/
#rangituhi {
	border: 4px solid var(--rangituhi);
	background-color: var(--rangituhi);
}

#whitireia {
	border: 4px solid var(--whitireia);
	background-color: var(--whitireia);
}

#raukawa {
	border: 4px solid var(--raukawa);
	background-color: var(--raukawa);
}

#parirua {
	border: 4px solid var(--parirua);
	background-color: var(--parirua);
}

.sequence {
	border-radius: 0;
	background-color: var(--tertiary);
	padding: 0;
	padding-bottom: 1%;
	
	display: flex;
	flex-direction: column;
	gap: 2%;
}

.footer {
	background-color: var(--primary);
	position: relative;
	display: grid;
	grid-row-gap: 15%;
	grid-template-rows: auto auto;

	grid-template-columns: 30% auto 35%;
	padding-bottom: 3vw;
	z-index: 3;
}

.attribution {
	background-color: var(--secondary);
	grid-column-start: 1;
	grid-column-end: span 3;
	grid-row-end: span 1;
	
	grid-row-start: 1;
	padding: 0.5%;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 5% auto auto 6%;
}

.footer .f-left {
	grid-column-start: 1;
	grid-column-end: span 1;
	padding-left: 4%;
}

.attribution .f-left {
	grid-column-start: 2;
	grid-column-end: span 1;
	padding-left: 0;
	margin: auto 0;
}

.f-right {
	grid-column-start: 3;
	grid-column-end: span 1;
	padding-right: 4%;
}

/* Button Styling*/
button {
	background-color: var(--tertiary);
	color: var(--text);
	cursor: pointer;
	border-radius: 16px;
	border: 4px solid var(--primary);
	padding: 0.5vw;
	transition-duration: 200ms;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2%;
}

#following_button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 3;
	opacity: 0;
}

#stayBtn {
	grid-column-start: 4;
	grid-column-end: span 1;
}

button img {
	width: 4vw;
	height: 4vw;
	margin: auto 0;
}

#following_button:hover, #stayBtn:hover {
	background-color: var(--hover);
}

#obscure {
	display: none;
	z-index: 5;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.65);
	grid-template-rows: 8% auto; 
	grid-template-columns: auto;
}

#menu {
	width: 95%;
	z-index: 6;
	display: grid;
	transition-timing-function: ease;
	transition-duration: 0.5s;
}

.thumbnail {
	display: grid;
	grid-template-rows: auto 16vh auto;
	grid-template-columns: 48.5% 48.5%;
	background-color: var(--tertiary);
	padding-top: 3%;
	padding-bottom: 9%;
	padding-left: 20%;
	padding-right: 20%;
	grid-column-gap: 3%;
	grid-row-gap: 12%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.dates {
	grid-row-start: 3;
	grid-row-end: span 1;
	grid-column-start: 1;
	grid-column-end: span 2;
	display: flex;
	flex-flow: row;
	align-content: space-between;
	gap: 2%;
}

.dates div {
	background-color: var(--primary);
	border-radius: 16px;
	flex-grow: 1;
	overflow: hidden;
	border: none !important;
	position: relative;
}

#contact {
	grid-template-rows: auto;
	background-color: var(--text_contrast);
	padding-bottom: 3%;
}

#flex-vertical .flex-horizontal *, .gallery .full-width-2 {
	text-align: left;
	margin: auto 0;
	color: var(--text_contrast);
	flex-basis: auto;
}

#flex-vertical .gallery img {
	height: 6vw;
	width: 6vw;
	border: none;
}

.margin {
	margin-left: 2%;
}

#red {
	background-color: var(--raukawa);
}

#flex-vertical {
	display: flex;
	flex-direction: column;
	margin: 0 -5px;
}

#flex-vertical .flex-horizontal {
	padding: 1% 1% 1% 1%;
}

#toggle {
	display: none;
}

#regular {
	color: var(--text);
}

#cc {
	width: 4.2vw;
	height: 4.2vw;
	margin: auto 0;
	padding-left: 3%;
}

/* Animated Hamburger Menu*/
#toggle * {
	margin: 0;
	padding: 0;
	z-index: 999;
}

#toggle {
    width: 60px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
	margin: 1.3%;
}

#toggle span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--text);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#toggle span:nth-child(1) {
    top: 0px;
}

#toggle span:nth-child(2),#toggle span:nth-child(3) {
    top: 18px;
}

#toggle span:nth-child(4) {
    top: 36px;
}

#toggle.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#toggle.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#toggle.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#banner { 
	display: flex;
	flex-direction: row;
	align-content: space-evenly;
}

#banner * {
	margin: auto 0;
}

#blinks {
	width: 30%;
}

#copyright {
	grid-column-start: 1;
	grid-column-end: span 3;
	text-align: center;
}

#shield {
	width: 5vw;
	margin-right: 0.5%;
}

.f-right {
	display: none;
}

.wrap {
	display: flex;
	flex-flow: row;
	gap: 0.5vw;
	width: 100%;

}

.wrap h1 {
	text-align: left;
}

.mobile_image {
	display: none;
}

/* Responsive Design */
@media (orientation: portrait) {
	.mobile_image {
		display: block;
		position: relative;
	}
	
	.mobile_image img {
		border-radius: 16px;
		border: 4px solid var(--primary);
		width: 98%;
	}
	
	.mobile_image .BL {
		bottom: 1%;
  		left: 3%;
	}	

	.wrap {
		flex-flow: column;
	}
	
	.activity-menu h2 {
		-webkit-text-stroke: 0.1vw var(--primary);
		font-size: 3vh;
		line-height: 1;
	}
	
	.activity-menu, #menu {
		display: flex;
		flex-direction: column;
		row-gap: 2vw;
	}
	
	.mountainw, .adrenalin, .community, .campwainu {
		border: 0.6vw solid var(--primary);
	}
	
	.flex-horizontal, .floating {
		flex-direction: column-reverse;
	}
	
	p, li {
		font-size: 2vh;
	}
	
	#banner {
		margin-left: 60px;
    	padding-bottom: 2%;
		padding-top: 2%;
	}
	
	#banner h1 {
		font-size: 2vh;
	}
	
	#banner a h2 {
		font-size: 3vh;
	}
	
	h1 {
		font-size: 2.6vh;
	}

	h2 {
		font-size: 2.4vh;
	}
	
	.dates h2 {
		font-size: 1.5vh;
		font-weight: normal;
	}
	
	.timetables h2 {
		font-size: 2.5vh;
	}
	
	h3 {
		font-size: 2vh;
	}
	
	#toggle {
		margin-left: 1vw;
	}
	
	.underline, a, .persistent h2 {
		text-decoration: 0.75px solid underline var(--text);
	}
	
	.gallery .image, .persistent a, #stayBtn, #cc, #shield, .f-left .regular, #myBtn img, .activity-menu::before, button, #flex-vertical .gallery img {
		display: none;
	}

	.timetables {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		padding-bottom: 4%;
	}
	
	.header {
		grid-template-columns: auto auto auto;
		column-gap: 0;
	}
	
	.header img {
		width: 10vh;
		height: 10vh;
	}
	
	.header h1 {
		margin-left: 3%;
	}
	
	.logo, .links {
		column-gap: 0;
	}
	
	.gallery .full-width-2, .floating a {
		margin: 1%;
	}

	.persistent {
		background-color: rgba(0, 0, 0, 0);
		top: 3.5vw;
		position: fixed;
	}
	
	.dates div {
		border-radius: 2vw;
	}
	
	.content * {
		line-height: 1.2;
	}
	
	#myBtn {
		width: 30%;
		border-radius: 2vw;
		text-align: center;
	}

	#important h2 {
		line-height: 1;
	}
	
	.footer {
		padding-bottom: 3vh;
	}
	
	.attribution {
		display: flex;
	}
	
	.attribution .f-left {
		display: block;
	}

	.f-left {
		flex-grow: 1;
		display: flex;
		flex-flow: row;
		text-align: center;
	}
	
	.thumbnail {
		grid-template-rows: auto 16vw auto;
		padding: 4% 4% 12% 4%;
	}
	
	.gallery .full-width-2 {
		padding: 2%;
		flex-flow: row;
		column-gap: 2%;
	}
	
	#flex-vertical {
		padding: 2%;
	}
	
	#icons_credits p {
		padding: 2%;
	}
	
	.gallery {
		width: 100%;
	}
	
	.hide_on_mobile {
		display: none;
	}
	
	.activity-menu h2 {
		-webkit-text-stroke: 0.1vh var(--primary);
	}
	
	.floating a {
		text-decoration: 1.2px solid var(--text_contrast) underline;
	}
	
	#high_contrast {
		text-decoration: 1.2px solid var(--contrast) underline;
	}
	
	.BL {
		border-radius: 16px;
		padding: 2%;
	}
}

#insufficient {
	position: absolute;
	top: 0;
	z-index: 1000;
	display: none;
	background-color: var(--white);
	width: 90vw;
	height: 100%;
	padding: 5%;
}

#insufficient img {
	width: 10%;
}

/* Small Screen Exceptions */
@media only screen and (max-width: 380px) {
	#insufficient {
		display: block;
	}
	
	.content, #myBtn {
		display: none;
	}
}

/* Koru Patterns */
.header *, .footer *, .full-width-2 *, .dates div * {
	z-index: 2;
	position: relative;
}

.header::before, .footer::before, .full-width-2::before, .dates div::before, .colours::before, .floating a::before, .activity-menu::before {
	background-image: url("https://projectspace.nz/kyustlyz/12DIT/2.4_2.8_iterative_website/stage_3_images_and_graphics/images/koru_pattern.jpg");
	content: '';
	opacity: 12%;
	position: absolute;
	background-size: cover;
	background-position: center;
	z-index: 1;
	border-radius: inherit;
	width: 100%;
	height: 100%;
}

.activity-menu::before {
	opacity: 5.5%;
}

#home-menu *, .colours *, .floating a *, .persistent * {
	z-index: 2;
	position: relative;
}

.activity-menu * {
	z-index: 12;
}

.gallery .full-width-2::before {
	width: 90vw;
}

.dates div::before {
	width: 600%;
}

.colours::before, .floating a::before {
	width: 300%;
}

.colours, .floating a {
	overflow: clip;
	position: relative;
}

.full-width-2::before, #home-menu::before, .colours::before, .floating a::before, .activity-menu::before {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.floating a {
	position: relative;
}

/* Thumbnail & Activity Link Images */
#camp-wainui-jpg, .campwainu {
	background-image: url("https://projectspace.nz/kyustlyz/12DIT/2.4_2.8_iterative_website/stage_3_images_and_graphics/images/activities/wainui_lake.jpg");
}

#forest-pool-jpg, .adrenalin {
	background-image: url("https://projectspace.nz/kyustlyz/12DIT/2.4_2.8_iterative_website/stage_3_images_and_graphics/images/activities/forest_3.jpg");
}

#rangituhi-walk-jpg, .mountainw {
	background-image: url("https://projectspace.nz/kyustlyz/12DIT/2.4_2.8_iterative_website/stage_3_images_and_graphics/images/activities/rangituhi_1.jpg");
	background-position: top;
}

#community-service-jpg, .community {
	background-image: url("https://projectspace.nz/kyustlyz/12DIT/2.4_2.8_iterative_website/stage_3_images_and_graphics/images/activities/community_1.jpg");
}

#zoom_150, .zoom_150 {
	height: 150%;
}

@media (orientation: portrait) {
	.dates div::before {
		width: 90vh;
	}
	
	.header::before, .full-width-2::before, .gallery .full-width-2::before {
		width: 250%;
	}
	
	.header, .full-width-2 {
		overflow: clip;
	}
	
	#menu .wrap {
		width: 50%;
	}
	
	#shield {
		display: block;
		width: 5vh;
		height: auto;
		margin-right: 1%;
	}
}
